@media (max-width: 414px) {


    .div-test,
    .ret-2 {
        width: 13px;
    }


    .image {
        top: 1.5em;
        left: 3em;
        margin-bottom: 1.5em;
    }

    .ret-yellow {
        display: none;
    }

    .mudarTema {
        top: 1.5em;
        right: 2em;
        height: 36px;
        width: 30px;
        padding: 0 !important;
    }

    #task-manager {
        margin-bottom: 5px;
        font-size: 16px;
    }

    .manager {
        margin-left: 50px;
        margin-bottom: .8em;
    }

    #btn-manager {
        margin-left: 45px;
    }

    .edit-table {
        margin: 12px 26px;
        width: 50vw;
    }

   .modal-container {
    width: 400px;
    height: 600px;
    margin: 10% auto;
   }
   
   #date {
    width: 50vw;
   }

   #select  {
    width: 50vw;
   }

  #btt-save {
    left: 200px;
    top: 120px;
  }

  #cancel-link {
    top: 90px;
    left: 23px;
  }

  .modal-container-two {
    width: 405px;
    height: 300px;
    margin: 10% auto;
  }

  .aviso p {
    margin-bottom: 1.5em;
    font-size: 20px;
  }
}
