@media (max-width: 414px) {


    .div-test,
    .ret-2 {
        width: 11px;
    }


    .image {
        top: 1.5em;
        left: 3em;
        margin-bottom: 1.5em;
    }

    .ret-yellow {
        display: none;
    }

    .mudarTema {
        top: 1.5em;
        right: 2em;
        height: 36px;
        width: 30px;
        padding: 0 !important;
    }

    #task-manager {
        margin-bottom: 5px;
        font-size: 16px;
    }

    .manager {
        margin-left: 50px;
        margin-bottom: .8em;
    }

    #btn-manager {
        margin-left: 45px;
    }

    .edit-table {
        margin: 12px 22px;
        width: 50vw;
    }

    .modal-container {
        width: 400px;
        height: 600px;
        margin: 25% auto;
    }

    #date {
        width: 50vw;
    }

    #select {
        width: 50vw;
    }

    #btt-save {
        left: 200px;
        top: 120px;
    }

    #cancel-link {
        top: 90px;
        left: 23px;
    }

    .modal-container-two {
        width: 393px;
        height: 297px;
        border-radius: 6px;
        margin: 50% auto;

    }

    .aviso p {
        margin-bottom: .5em;
        font-size: 20px;
    }

    .exit-account {
        left: 0;
    }
    
    .table>tbody {
        vertical-align: middle;
    }
    
    tr {
        font-size: 15px;
    }
}
