@media (max-width: 414px) {
    .left-login {
        display: none;
    }

    .right-login {
        width: 100vw;
    }

    .card-login {
        width: 90%
    }

    .mudarTema {
        right: 0;
        top: 2.5em;
    }
}
