@media  (max-width: 414px) {
    .left-login {
        display: none !important;
    }

    .right-login {
        width: 100vw !important;
    }

    .card-login {
        width: 90% !important;
    }

    .mudarTema {
        right: 2em !important;
        top: 1.5em !important;
    }

    .modal-container {
        width: 393px !important;
        height: 297px !important;
        border-radius: 6px !important;
        margin: 50% auto !important;
    }



}




@media (max-width: 820px) {

    .right-login {
        width: 100vw;
    }

    .card-login {
        width: 90%
    }

    .mudarTema {
        right: 0;
        top: 2.5em;

    }

    h1 {
        display: none;
    }
}


@media (max-width: 850px) {

    .right-login {
        width: 90vw;
    }

    .card-login {
        width: 90%
    }

    .mudarTema {
        right: 2em;
        top: 2.5em;

    }


}


@media (max-width: 540px) {
    .left-login {
        display: none;
    }

    .right-login {
        width: 75vw;
    }

    .modal-container {
        margin: 38% auto;
    }
}

@media (max-width: 896px) {
    .left-login>h1 {
        font-size: 23px;
    }

    .imagem-bg {
        width: 250px;
    }

    .main-logo {
        top: 1em;
        left: 2em;
    }
    .right-login {
        margin-top: 2em;
        width: 55vw;
    }
}
